/*CSS admin.jsp*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 700px;

 }*/
body{
    background: #202020; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.admin_panel{
    background: #FFD100;
    text-align: center;
    max-width: max-content;
    padding: 25px 30px;
    border-radius: 15px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.submit{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #202020;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.admin_panel button{
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    text-align: center;
}
i{
    margin: 5px;
}