@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 600px;
    padding: 10% 0 0;
    font-family: "Verdana", sans-serif;
    margin: auto;
}
.form {
    display: inline-block;
    position: relative;
    z-index: 1;
    background: #FFD100;
    border-top: none;
    border-right: 4px solid #75630f;
    border-left: none;
    border-bottom: 4px solid #75630f;
    max-width: 800px;
    margin: 0 auto 15px;
    padding: 100px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    outline: 0;
    background: #ffffff;
    width: 50%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 5px;
    border-top: none;
    border-right: 4px solid #7a7878;
    border-left: none;
    border-bottom: 4px solid #7a7878;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    background-color: #1a1a1a;
    border-radius: 10px;
    border-top: none;
    border-right: 3px solid #7a7878;
    border-left: none;
    border-bottom: 3px solid #7a7878;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background-color: black;
}
.form .message {
    margin: 15px 0 0;
    color: #a70d0d;
    font-size: 12px;
}
.form .message a {
    color: #333533;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {

    color: #ff4140;
}
body {
    background: #202020; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.img{
    width: 262px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
    right: 0
}

.error{
    color: red;
    font-size: 12px;
}