*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color:#202020;
    justify-content: center;
    align-items: center;
}
.recensioneContainer{
    text-align: center;
    position: relative;
    margin: auto;
    padding: 35px 30px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 35px;
    color: #FFD100;
    background-color: #202020;
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
}
.text-form{
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    resize: none;
    background-color:#D6D6D6 ;
}

.rate {
    max-width: max-content;
    margin: 0 auto;
    padding: 0 10px;
}

.submit{
    border-radius: 5px;
    padding: 5px;
    color: #202020;
    background-color: #D6D6D6;
}
.submit:hover{
    background-color: #FFD100;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#D6D6D6;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #FFD100;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #FFD100;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}